<nav class="bg-white border-gray-200 dark:bg-gray-900">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between py-4">
		<a
			routerLink={{logoRoute}}
			class="flex items-center"
		>
			<img
				src="../../assets/easy_media_logo.png"
				class="h-8 mr-3"
				alt="Flowbite Logo"
			/>
			<span
				class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
				>Easy Media</span
			>
		</a>
	</div>
	<div
		*ngIf="router.url !== '/login' && router.url !== '/sign-up'"
		class="max-w-screen-xl flex items-center justify-between py-4"
	>
		<button
			data-collapse-toggle="navbar-default"
			type="button"
			class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none"
			aria-controls="navbar-default"
			aria-expanded="false"
			(click)="menuOpen = !menuOpen"
		>
			<span class="sr-only">Open main menu</span>
			<img
				*ngIf="!menuOpen"
				src="../../../assets/close.svg"
				alt="Close X"
				class="w-5 h-5"
			/>
			<img
				*ngIf="menuOpen"
				src="../../../assets/hamburgerMenu.svg"
				alt="Close X"
				class="w-6 h-6"
			/>
		</button>
		<div
			class="hidden w-3/5 md:block md:w-auto z-50 md:z-0 absolute top-20 right-0 shadow md:shadow-none md:bg-transparent bg-white dark:bg-gray-900 md:relative md:top-0 md:border-0 md:rounded-none rounded-lg md:flex-row"
			id="navbar-default"
		>
			<p class="user p-3 md:hidden sm:block">
				{{ user }}
			</p>
			<div
				class="border-b border-gray-500 dark:border-gray-400 mx-3 md:hidden ms:block"
			></div>
			<ul
				class="md:flex items-center justify-between text-base text-gray-700 p-3 md:pt-4 md:text-gray-900 md:space-x-12"
			>
				<li *ngFor="let i of nav">
					<a
						[routerLink]="i.route"
						class="flex flex-row gap-2"
						(click)="i.func && isFunc(i.func) && i.func()"
						>
						<img
							src="{{i.img}}"
							alt="{{ i.alt }}"
							class="md:hidden ms:block w-3 h-3 mt-[.4rem]"
						/>
						{{ i.title }}
					</a>
				</li>
				<!-- <li>
					<a
						routerLink="/add-note"
						class="flex flex-row gap-2"
					>
						<img
							src="../../../assets/create.svg"
							alt="Create"
							class="md:hidden ms:block w-3 h-3 mt-[.4rem]"
						/>
						Create Publication
					</a>
				</li>
				<li>
					<a
					routerLink="/my-notes"
					class="flex flex-row gap-2"
					>
					<img
						src="../../../assets/myNotes.svg"
						alt="My notes"
						class="md:hidden ms:block w-3 h-3 mt-[.4rem]"
					/>
						My Publications
					</a>
				</li>
				<li>
					<a
						routerLink="/notes"
						class="flex flex-row gap-2"
					>
					<img
						src="../../../assets/allNotes.svg"
						alt="All notes"
						class="md:hidden ms:block w-3 h-3 mt-[.4rem]"
					/>
						See All Publications
					</a>
				</li>
				<li>
					<a
						routerLink="/login"
						class="flex flex-row gap-2"
						(click)="logout()"
					>
					<img
						src="../../../assets/logout.svg"
						alt="Logout"
						class="md:hidden ms:block w-3 h-3 mt-[.4rem]"
					/>
					Logout
					</a>
				</li> -->
			</ul>
		</div>
	</div>
</nav>
