nav{
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
}

.user{
    color: #0E2248;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}