<form
	[formGroup]="loginForm"
	(ngSubmit)="onSubmit()"
	class="flex flex-col items-center justify-center gap-6"
>
	<div class="flex flex-col">
		<label
			for="email"
			class="label-form"
			>Email</label
		>
		<input
			type="email"
			formControlName="email"
			placeholder="example@email.com"
			class="input-group"
			required

		/>
		<p class="error-text">{{errorEmail}}</p>
	</div>
	<div class="flex flex-col">
		<label
			for="password"
			class="label-form"
			>Password</label
		>
		<div class="input-group w-full">
			<input
				type="{{ input }}"
				formControlName="password"
				placeholder="······"
				style="font-size: large"
				id="password"
				required
				class="w-4/5"
			/>
			<button
				type="button"
				class="btn btn-outline-secondary"
				(click)="toggleShow()"
				class="btn-show ml-6"
			>
				<img
					src="../../../assets/eye.svg"
					alt="eye"
					class="eye w-5 h-5"
				/>
			</button>
		</div>
	</div>
	<div class="flex flex-col gap-1 justify-center items-center">
		<input
			type="submit"
			value="SIGN IN"
			
			class="submit-login"
		/>
		<p class="error-text">
			{{errorEmailOrPassword}}
		</p>
	</div>
</form>
