.note {
    width: 277px;
    min-height: 127px;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #5F5E5E;
    background: #666;
}

.note-title {
    padding: .5rem;
    width: 277px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    border: 1px solid #5F5E5E;
    background: #58BCDB;
    color: #EBEBEB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.note-text {
    padding: .5rem;
    width: 270px;
    color: #EBEBEB;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.note-date {
    padding: .5rem;
    width: 270px;
    color: #EBEBEB;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.note-user {
    color: #EBEBEB;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: .5rem;
    width: fit-content;
    white-space: nowrap;
    padding-top: .5rem;
}