<main class="flex flex-col items-center gap-4">
	<h1>Create message</h1>
	<form
		[formGroup]="addNoteForm"
		(ngSubmit)="addNote()"
	>
		<div class="form-group flex flex-col">
			<label for="title">Title messages</label>
			<input
				type="text"
				class="form-control"
				id="title"
				formControlName="title"
				placeholder="Your post title"
				maxlength="30"
			/>
			<p class="text-create-note">{{ addNoteForm.value.title?.length }}/30</p>
		</div>
		<div class="form-group flex flex-col">
			<label for="text">Content</label>
			<textarea
				type="text"
				class="form-control"
				id="text"
				formControlName="text"
				placeholder="Create message for share with your friends."
				maxlength="300"
			>
			</textarea>
			<p class="text-create-note">{{ addNoteForm.value.text?.length }}/300</p>
		</div>
		<button
			type="submit"
			class="btn btn-primary"
			[disabled]="!addNoteForm.valid"
		>
			SHARE
		</button>
	</form>

	<app-note
		[noteTitle]="noteTitle"
		[noteText]="noteText"
		[formattedDate]="formattedDate"
		[user]="user"
	></app-note>
</main>
