<p>add-note works!</p>

<form [formGroup]="addNoteForm" (ngSubmit)="addNote()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" class="form-control" id="text" formControlName="text">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!addNoteForm.valid">Add Note</button>
</form>

<p>{{addNoteForm.value.title}}</p>
<p>{{addNoteForm.value.text}}</p>