main {
    padding: 3rem;

    .signup-text {
        color: #B7B7B7;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .signup-text2 {
        color: #48E3BE;
        font-family: Lato;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
    }
}