<main class="flex flex-col items-center justify-center gap-4">
	<h1>My Publications</h1>

	<div class="flex flex-col items-center justify-start gap-2">
		<label class="searchtext text-start text-gray-500 text-sm w-full">
			Date Select
		</label>
		<div
			class="input-group rounded-3xl border-gray-300 border-2 w-72 flex bg-white"
		>
			<img
				*ngIf="searchDate.length > 0"
				src="../../../assets/dateReset.svg"
				alt="Reset date"
				(click)="clearDate()"
			/>
			<input
				type="date"
				placeholder="Search"
				class="input-group rounded-3xl border-gray-300 border-2 w-72"
				[(ngModel)]="searchDate"
				(change)="searchNotesByDate()"
			/>
		</div>
	</div>

	<ul
		*ngIf="notes.length > 0"
		class="flex flex-col items-center justify-center gap-4"
	>
		<li
			*ngFor="
				let note of notes
					| slice
						: (currentPage - 1) * itemsPerPage
						: currentPage * itemsPerPage
			"
		>
			<app-note
				[noteTitle]="note.title"
				[noteText]="note.body"
				[date]="note.updatedAt"
				[user]="note.User?.name"
			></app-note>
		</li>
	</ul>
	<div
		*ngIf="notes.length === 0"
		class="flex flex-col items-center justify-center gap-4"
	>
		<img
			src="../../../assets/noNote.svg"
			alt="No notes found"
		/>
		<p class="text-center text-gray-500 text-2xl">Nothing to see here</p>
	</div>

	<app-pagination
		*ngIf="notes.length > itemsPerPage"
		[totalItems]="notes.length"
		[itemsPerPage]="itemsPerPage"
		(pageChange)="onPageChange($event)"
	></app-pagination>
</main>
