main{
    background: #9B8ADB;
}

h1{
    color: #FFF;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

label{
    color: #0E2248;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#title{
    width: 277px;
    height: 27px;
    flex-shrink: 0;

    border-radius: 16px;
    border: 1px solid #5F5E5E;
    background: #EBEBEB;
    border-radius: 16px;
    border: 1px solid #5F5E5E;
    background: #EBEBEB;

    color: #474747;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#title::placeholder{
    color: #B7B7B7;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#text{
    width: 277px;
    height: 91px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #5F5E5E;
    background: #EBEBEB;

    color: #474747;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    word-wrap: break-word;
}
#text::placeholder{
    color: #B7B7B7;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-create-note{
    width: 36px;
    height: 13px;
    flex-shrink: 0;
    color: #5F5E5E;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn{
    width: 90px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(270deg, #C645A9 17.66%, #58BBDB 89.57%);
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}