<main class="flex flex-col items-center justify-center gap-4">
	<h1>All Publications</h1>

	<div class="flex flex-col items-center justify-start gap-2">
		<label class="searchtext text-start text-gray-500 text-sm w-full">
			Words to Search?
		</label>
		<input
			type="text"
			placeholder="Search"
			class="input-group w-72 rounded-3xl border-gray-300 border-2"
			[(ngModel)]="search"
			(input)="searchNotesByTitle()"
		/>
	</div>
	<div class="flex flex-col items-center justify-start gap-2">
		<label class="searchtext text-start text-gray-500 text-sm w-full">
			Date Select
		</label>
		<input
			type="date"
			placeholder="Search"
			class="input-group rounded-3xl border-gray-300 border-2 w-72"
			[(ngModel)]="searchDate"
			(change)="searchNotesByDate()"
		/>
	</div>

	<ul
		*ngIf="notes.length > 0"
		class="flex flex-col items-center justify-center gap-4"
	>
		<!-- <li *ngFor="let note of notes | slice:(currentPage-1)*notesPerPage:currentPage*notesPerPage"> -->
		<li *ngFor="let note of notes">
			<app-note
				[noteTitle]="note.title"
				[noteText]="note.body"
				[date]="note.updatedAt"
				[user]="note.User?.name"
			></app-note>
		</li>
		<!-- <button
			*ngFor="
				let page of [].constructor(Math.ceil(notes.length / notesPerPage))
			"
			(click)="changePage(page + 1)"
		>
			{{ page + 1 }}
		</button> -->
	</ul>
	<div
		*ngIf="notes.length === 0"
		class="flex flex-col items-center justify-center gap-4"
	>
		<img
			src="../../../assets/noNote.svg"
			alt="No notes found"
		/>
		<p class="text-center text-gray-500 text-2xl">Nothing to see here</p>
	</div>
</main>
